@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --board-size: 450px;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    gap: 10px;
    background-color: black;
}

.turn,
.result {
    display: flex;
    height: 50px;
    font-family: "Roboto";
    font-size: 20px;
}

.result {
    align-items: end;
}

.cell {
    display: flex;
    background-color: white;
}

.cell > button {
    background-color: inherit;
    border: 0px solid white;
    padding: 0;
    flex: 1;
    font-size: 50px;
}